/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Variabili*/
:root{
    --column-n: 3;
    --column-gap: 15px;
    --row-n:3;
    --row-gap:15px;
}
/*Header Actions */
.header-actions{
    display:flex;
    align-items:center;
}
/* Toggle checkbox nell'header */
.toggle{
    display:none;
    
}

.toggle-label{
    width:20px;
    height: 10px;
    background: #929292;
    border-radius: 75px;
    position:relative;
    display:flex;
    align-items:center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-label::before{
    content:"";
    width:8px;
    height:8px;
    background:white;
    border-radius:50%;
    position:absolute;
    left: 1px;
    transition: translate 0.3s ease;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.toggle:checked + .toggle-label{
    background: black;
}

.toggle:checked + .toggle-label::before{
    translate: 10px 0;
}

/* Sezione Piani */
.plans{
    flex-wrap:wrap;
    padding: 20px 0;
}
.plan{
    flex-basis:calc((100% / var(--column-n)) - (var(--column-gap) * (var(--column-n) - 1) / var(--column-n)));
    min-width:256px;
    flex-grow:1;
    text-align:center;
}

ul{
    list-style-type: none;
}

.plan-features-list-extra{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    column-gap:var(--column-gap);
    --column-gap:20px;
    --column-n:2;
    flex-grow:1;
}
.plan-features-list-1,
.plan-features-list-2{
    flex-basis:calc((100% / var(--column-n)) - (var(--column-gap) * (var(--column-n) - 1) / var(--column-n)));
    flex-grow:1;
    min-width: 240px;
}

.plan-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:0 auto;
    max-width:500px;
    width:100%;
}